@model EditMemberViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Редагувати члена профспілки";
}

    <form enctype="multipart/form-data" asp-controller="members" asp-action="EditMember" method="post" class="mt-3">
        <div class="form-group row">
            <label asp-for="Surname" class="col-sm-2 col-form-label">Прізвище</label>
            <div class="col-sm-10">
                <input asp-for="Surname" class="form-control" placeholder="Прізвище" value="@Model.Surname" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label">Ім'я</label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" placeholder="Ім'я" value="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Patronymic" class="col-sm-2 col-form-label">По-батькові</label>
            <div class="col-sm-10">
                <input asp-for="Patronymic" class="form-control" placeholder="По-батькові" value="@Model.Patronymic" />
                <span asp-validation-for="Patronymic" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="DateOfEntry" class="col-sm-2 col-form-label">Дата вступу</label>
            <div class="col-sm-10">
                <input asp-for="DateOfEntry" type="date" class="form-control" placeholder="" asp-format="{0:yyyy-MM-dd}"/>
                <span asp-validation-for="DateOfEntry" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="NumberOfTicket" class="col-sm-2 col-form-label">№ квитка</label>
            <div class="col-sm-10">
                <input asp-for="NumberOfTicket" class="form-control" placeholder="№ квитка" value="@Model.NumberOfTicket" />
                <span asp-validation-for="NumberOfTicket" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="IsScholarship" class="col-sm-2 col-form-label">Стипендія</label>
            <div class="col-sm-10">
                <div class="custom-checkbox custom-control">
                    <input asp-for="IsScholarship" type="checkbox" class="custom-control-input isScholarship" value="@Model.IsScholarship" />
                    <label asp-for="IsScholarship" id="scholarhipLabel" class="custom-control-label">Не отримує стипендію</label>
                </div>
                <span asp-validation-for="IsScholarship" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Contribution" class="col-sm-2 col-form-label">Внесок</label>
            <div class="col-sm-10">
                <input asp-for="Contribution" type="number" class="form-control" placeholder="Внесок" value="@Model.Contribution" />
                <span asp-validation-for="Contribution" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="FacultyId" class="col-sm-2 col-form-label">Факультет</label>
            <div class="col-sm-10">
                <select asp-for="FacultyId" asp-items="@(new SelectList(Model.Faculties, "Id", "Title"))"
                        id="facultylist" class="custom-select mr-sm-2">
                    <option value="0">Оберіть факультет</option>
                </select>
                <span asp-validation-for="FacultyId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="GroupId" class="col-sm-2 col-form-label">Група</label>
            <div class="col-sm-10">
                <select asp-for="GroupId" id="groupsList"
                        class="custom-select mr-sm-2">
                    <option value="@Model.GroupId" selected>@Model.GroupTitle</option>
                </select>
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Змінити</button>
            </div>
        </div>
    </form>
    <script src="~/js/main.js"></script>