@model IEnumerable<Member> 

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>№</th>
            <th>ПІБ</th>
            <th>Факультет</th>
            <th>Група</th>
            <th>Дата вступу</th>
            <th>№ квитка</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            int i = 1;
            foreach (var member in Model)
            {
            <tr>
                <td>@i
                    @{ i++; }
                </td>
                @{
                    string fullName = member.Surname + " " + member.Name + " " + member.Patronymic;
                }
                <td>@fullName</td>
                @{
                    string facultyTitle;

                    try
                    {
                        facultyTitle = member.Faculty.Title;
                    }
                    catch (Exception)
                    {
                        facultyTitle = null;
                    }

                    if (facultyTitle == null)
                    {
                        <td><a asp-controller="Members" asp-action="EditMember" asp-route-id="@member.Id" class='btn btn-outline-info'>Додати факультет</a></td>
                    }
                    else
                    {
                        <td>@facultyTitle</td>
                    }

                    string groupTitle;

                    try
                    {
                        groupTitle = member.Group.Title;
                    }
                    catch (Exception)
                    {
                        groupTitle = null;
                    }

                    if (groupTitle == null)
                    {
                        <td><a asp-controller="Members" asp-action="EditMember" asp-route-id="@member.Id" class='btn btn-outline-info'>Додати групу</a></td>
                    }
                    else
                    {
                        <td>@groupTitle</td>
                    }
                }
                <td>@member.DateOfEntry.Date.ToString("dd/MM/yyyy")</td>
                <td>@member.NumberOfTicket</td>
            </tr>
            }
        }
    </tbody>
</table>